<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092084812416-m6psqpjl0bnr266rgvfnd53h68dnn8eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092084812416-m6psqpjl0bnr266rgvfnd53h68dnn8eq</string>
	<key>API_KEY</key>
	<string>AIzaSyDCFnTC6jKLLQQFSijnaxUnftf24WanA6E</string>
	<key>GCM_SENDER_ID</key>
	<string>1092084812416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.awesomeToDo</string>
	<key>PROJECT_ID</key>
	<string>awesome-to-do-5170a</string>
	<key>STORAGE_BUCKET</key>
	<string>awesome-to-do-5170a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092084812416:ios:d9b53c574b3c5bf0933465</string>
</dict>
</plist>